body {
  font-family: "Montserrat", arial, sans-serif;
  background-color: #9b59b6;
  color: white;
  text-align: center;
}
p {
  font-size: 25px;
}
h1 {
  font-size: 200px;
  font-weight: 700;
  margin-bottom: 50px;
}
