<div class="container">
  <h1>CRAIGS YO</h1>
  <p>We'll Yo you when your craigslist search has a new listing</p>
  <form method="post" role="form" class="form-inline">
    <input ng-model="data.yoName" type="text" class="form-control" placeholder="username" required/>
    <input ng-model="data.link" type="text" class="form-control" placeholder="url" required />
    <input ng-click="submit()" type="submit" class="btn btn-default" />
    <h2 class="resp">Submitted, Yo!</h2>
  </form>
  <a target="_blank" href="https://github.com/tejas-manohar/craigs-yo/fork"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
</div>
