<header class="hero-unit" id="banner">
  <div class="container">
    <h1>CRAIGS YO</h1>
    <em><p class="lead">We'll Yo you when your craigslist search has a new listing!</p></em>
    <p style="padding-top: 1%; font-size: 150%">1. Go to <a class="no-highlight" href="http://craigslist.org">craigslist.org</a> and search for what you want</p>
    <p style="font-size: 150%">2. Copy the URL at your browser</p>
    <img style="padding-top: 1%" src="../../assets/images/UjELoJu.png" width="85%" style="padding-bottom: 3%" >
    <p style="padding-top: 2%; font-size: 150%">PS: Yo CRAIGSLIST to unsubscribe</p>
  </div>
</header>

<div class="container more-pad">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <form class="form-horizontal" role="form">
        <input type="text" class="form-control dif one-one" ng-model="data.yoName" placeholder="Your Yo username" autocapitalize="off" autocorrect="off" required />
        <input style="margin-top: 0.75%" type="text" class="form-control two-two" ng-model="data.link" placeholder="Craigslist search url" autocapitalize="off" autocorrect="off" required />
        <button style="margin-top: 0.75%" class="btn btn-primary" ng-click="submit()">Subscribe!</button>
        <h3 class="resp">submitted, yo!</h3>
        <h4 class="resp-err">already subscribed, bro!</h4>
      </form>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p><a href="https://twitter.com/tejasmanohar">@tejasmanohar</a> |
    <a href="https://github.com/tejas-manohar/craigs-yo">Github</a>
    </p>
  </div>
</footer>
